* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --darkest-color: #87ceeb;
  --medium-color: #98d8e8;
  --lightest-color: #f0f8ff;
  --warm-color: #fff8dc;
  --primary-color: #ffe4b5;

  /*dark-mode colors*/
  --darkest-color-dark: #783114;
  --medium-color-dark: #672717;
  --lightest-color-dark: #0f0700;
  --warm-color-dark: #000723;
  --primary-color-dark: #001b4a;
}

body {
  background: linear-gradient(
    135deg,
    var(--darkest-color) 0%,
    var(--medium-color) 25%,
    var(--lightest-color) 50%,
    var(--warm-color) 75%,
    var(--primary-color) 100%
  );
}

.dark-mode {
  background: linear-gradient(
    135deg,
    var(--darkest-color-dark) 0%,
    var(--medium-color-dark) 25%,
    var(--lightest-color-dark) 50%,
    var(--warm-color-dark) 75%,
    var(--primary-color-dark) 100%
  );
}

.dark-mode dialog,
.dark-mode {
  filter: invert(1) hue-rotate(360deg);
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid var(--lightest-color);
}

.logo {
  grid-column: 1 / 2;
  align-self: center;
  padding: 18px;
  font-size: 3rem;
  color: var(--lightest-color);
  font-weight: bold;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
  background-color: transparent;
}

.nav-buttons {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-self: center;
  gap: 20px;
}

.theme-switch,
.profile {
  height: 50px;
  width: 50px;
  justify-self: end;
}

.theme-switch,
.profile,
.clear-storage-btn {
  background-color: var(--lightest-color);
  border: none;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--primary-color);
}

/* SIDEBAR */

.sidebar {
  grid-column: 1 / 2;
  border: 2px solid var(--lightest-color);
  display: grid;
  grid-template-rows: 1fr 1fr 10fr;
}

.all-tasks-section {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.all-tasks-btn {
  background-color: #f0f8ff46;
  border: none;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-head-container {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin: 10px;
  border-bottom: 3px solid black;
}

.new-project-btn {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  margin: 10px;
}

#projectForm {
  display: grid;
  grid-template-rows: auto;
}

.project-container {
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
}

.project-name {
  background-color: #f0f8ff46;
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  width: 92%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-project {
  background-image: url("./images/delete.svg");
}

.edit-project {
  background-image: url("./images/pencil.svg");
}

.edit-project,
.delete-project {
  border: none;
  background-color: transparent;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.edit-project,
.delete-project:hover {
  cursor: pointer;
}

/* MAIN CONTENT */

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
}

.task-header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 20px;
}

.page-header {
  grid-column: 2 / 3;
  justify-self: center;
}

.no-tasks-message {
  font-size: 18px;
  padding: 30px;
}

.task-container {
  grid-column: 2 / 5;
  border: 2px solid var(--lightest-color);
}

.add-task-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  margin: 10px;
}

.dialog {
  width: 40vh;
  align-self: center;
  justify-self: center;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
}

.dialog-header {
  font-size: 30px;
  margin-bottom: 20px;
}

.dialog-content {
  background-color: var(--warm-color);
  margin: 15% auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#taskForm {
  display: grid;
  grid-template-rows: auto;
}

.input {
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.input:hover {
  cursor: pointer;
}
.input:focus {
  outline: 3px solid var(--darkest-color);
}

.close {
  justify-self: end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit {
  background-color: var(--lightest-color);
  border: none;
  margin: 10px 30px 10px 30px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.task-div {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  background-color: var(--lightest-color);
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox-div {
  justify-self: center;
  align-self: center;
}

.task-info-div {
  display: grid;
  gap: 10px;
  grid-column: 2 / 3;
}

.completion-checkbox {
  accent-color: var(--darkest-color);
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completion-checkbox:hover {
  cursor: pointer;
}

.priority-high {
  border-bottom: 4px solid #ff0000;
}
.priority-medium {
  border-bottom: 4px solid #ffd700;
}
.priority-low {
  border-bottom: 4px solid #00ff00;
}

.delete-task {
  background-image: url("./images/delete.svg");
}

.edit-task {
  background-image: url("./images/pencil.svg");
}

.edit-task,
.delete-task {
  grid-column: 2 / 3;
  border: none;
  background-color: transparent;
  height: 25px;
  width: 25px;
  margin: 5px;
}

.task-div.completed {
  opacity: 0.5;
}
